In [22]:
# TF-IDF +  RidgeClassifier

import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import RidgeClassifier
from sklearn.metrics import f1_score

train_df = pd.read_csv('../data/train_set.csv', sep='\t', nrows=15000)
test_df = pd.read_csv('../data/test_a.csv', sep='\t')

test_df_a = pd.concat([train_df,test_df],axis=0,join='outer')

tfidf = TfidfVectorizer(ngram_range=(1,3), max_features=3000)

train_test_a = tfidf.fit_transform(test_df_a['text'])



clf = RidgeClassifier()
clf.fit(train_test_a[:10000], test_df_a['label'].values[:10000])

val_pred = clf.predict(train_test_a[10000:15000])
print(f1_score(test_df_a['label'].values[10000:15000], val_pred, average='macro'))

val_pred_a = clf.predict(train_test_a[15000:])
pd_data = pd.DataFrame(val_pred_a,columns=['label'])
pd_data.to_csv("c:/data/news/test_a_3.csv", index=False)

# 0.87483
# 阿里云： 0.8775

0.8748364500663969

In [15]:
train_test,test_df_a

(<15000x3000 sparse matrix of type '<class 'numpy.float64'>'
 	with 6124990 stored elements in Compressed Sparse Row format>,
        label                                               text
 0        2.0  2967 6758 339 2021 1854 3731 4109 3792 4149 15...
 1       11.0  4464 486 6352 5619 2465 4802 1452 3137 5778 54...
 2        3.0  7346 4068 5074 3747 5681 6093 1777 2226 7354 6...
 3        2.0  7159 948 4866 2109 5520 2490 211 3956 5520 549...
 4        3.0  3646 3055 3055 2490 4659 6065 3370 5814 2465 5...
 ...      ...                                                ...
 49995    NaN  3725 4498 2282 1647 6293 4245 4498 3615 1141 2...
 49996    NaN  4811 465 3800 1394 3038 2376 2327 5165 3070 57...
 49997    NaN  5338 1952 3117 4109 299 6656 6654 3792 6831 21...
 49998    NaN  893 3469 5775 584 2490 4223 6569 6663 2124 168...
 49999    NaN  2400 4409 4412 2210 5122 4464 7186 2465 1327 9...

 [65000 rows x 2 columns])

In [6]:
pd_data = pd.DataFrame(val_pred_a,columns=['label'])

In [19]:
test_df_a[14999:]

       label                                               text
14999    8.0  4188 5778 5296 5640 2835 648 6122 2489 2923 39...
0        NaN  5399 3117 1070 4321 4568 2621 5466 3772 4516 2...
1        NaN  2491 4109 1757 7539 648 3695 3038 4490 23 7019...
2        NaN  2673 5076 6835 2835 5948 5677 3247 4124 2465 5...
3        NaN  4562 4893 2210 4761 3659 1324 2595 5949 4583 2...
...      ...                                                ...
49995    NaN  3725 4498 2282 1647 6293 4245 4498 3615 1141 2...
49996    NaN  4811 465 3800 1394 3038 2376 2327 5165 3070 57...
49997    NaN  5338 1952 3117 4109 299 6656 6654 3792 6831 21...
49998    NaN  893 3469 5775 584 2490 4223 6569 6663 2124 168...
49999    NaN  2400 4409 4412 2210 5122 4464 7186 2465 1327 9...

[50001 rows x 2 columns]

In [12]:
# TF-IDF +  RidgeClassifier

import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import RidgeClassifier
from sklearn.metrics import f1_score

train_df = pd.read_csv('../data/train_set.csv', sep='\t', nrows=15000)
train_df = train_df.sample(frac=1)



tfidf = TfidfVectorizer(ngram_range=(1,3), max_features=3000)
train_test = tfidf.fit_transform(train_df['text'])

clf = RidgeClassifier()
clf.fit(train_test[:10000], train_df['label'].values[:10000])

val_pred = clf.predict(train_test[10000:])
print(f1_score(train_df['label'].values[10000:], val_pred, average='macro'))

0.868765936508602

In [44]:
import math
from scipy.stats import norm, mstats
def mk_test(x, alpha=0.05):
    """
    This function is derived from code originally posted by Sat Kumar Tomer
    (satkumartomer@gmail.com)
    See also: http://vsp.pnnl.gov/help/Vsample/Design_Trend_Mann_Kendall.htm
    The purpose of the Mann-Kendall (MK) test (Mann 1945, Kendall 1975, Gilbert
    1987) is to statistically assess if there is a monotonic upward or downward
    trend of the variable of interest over time. A monotonic upward (downward)
    trend means that the variable consistently increases (decreases) through
    time, but the trend may or may not be linear. The MK test can be used in
    place of a parametric linear regression analysis, which can be used to test
    if the slope of the estimated linear regression line is different from
    zero. The regression analysis requires that the residuals from the fitted
    regression line be normally distributed; an assumption not required by the
    MK test, that is, the MK test is a non-parametric (distribution-free) test.
    Hirsch, Slack and Smith (1982, page 107) indicate that the MK test is best
    viewed as an exploratory analysis and is most appropriately used to
    identify stations where changes are significant or of large magnitude and
    to quantify these findings.
    Input:
        x:   a vector of data
        alpha: significance level (0.05 default)
    Output:
        trend: tells the trend (increasing, decreasing or no trend)
        h: True (if trend is present) or False (if trend is absence)
        p: p value of the significance test
        z: normalized test statistics
    Examples
    --------
      >>> x = np.random.rand(100)
      >>> trend,h,p,z = mk_test(x,0.05)
    """
    n = len(x)
    # calculate S
    s = 0
    for k in range(n-1):
        for j in range(k+1, n):
            s += np.sign(x[j] - x[k])
    # calculate the unique data
    unique_x, tp = np.unique(x, return_counts=True)
    g = len(unique_x)
    # calculate the var(s)
    if n == g:  # there is no tie
        var_s = (n*(n-1)*(2*n+5))/18
    else:  # there are some ties in data
        var_s = (n*(n-1)*(2*n+5) - np.sum(tp*(tp-1)*(2*tp+5)))/18
    if s > 0:
        z = (s - 1)/np.sqrt(var_s)
    elif s < 0:
        z = (s + 1)/np.sqrt(var_s)
    else: # s == 0:
        z = 0
    # calculate the p_value
    p = 2*(1-norm.cdf(abs(z)))  # two tail test
    h = abs(z) > norm.ppf(1-alpha/2)
    if (z < 0) and h:
        trend = 'decreasing'
    elif (z > 0) and h:
        trend = 'increasing'
    else:
        trend = 'no trend'
    return trend, z

In [46]:
import numpy as np
x = np.arange(11)
y = np.array([2**i+1 for i in x])
x[10] = 0
print(x,y)
mk_test(x),mk_test(y)

[0 1 2 3 4 5 6 7 8 9 0] [   2    3    5    9   17   33   65  129  257  513 1025]

(('increasing', 2.733040833050606), ('increasing', 4.203894298472224))

In [ ]:
import sys
L = [x for x in range(500)]

print(sys.getsizeof(L)) // 824464